In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/Dulce/12-2023 Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))

# LESSON 4.6

## A. Concatenating Data

# Define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'purchased_meat':[0, 13, 3, 4],
    'purchased_alcohol':[1, 2, 10, 0],
    'purchased_snacks':[10, 5, 1, 7]}

# Define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
    'purchased_meat':[0, 10, 5, 3],
    'purchased_alcohol':[2, 4, 14, 0],
    'purchased_snacks':[15, 3, 2, 6]}

#Convert the dictionary into dataframe
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0, 1, 2, 3])

df

df_1

# Create a list with df and df_1 and call it "frames". 
frames = [df, df_1]

# Concatenate your frames with default axis = 0 --> long-format
df_concat = pd.concat(frames)
df_concat

# Concatenate your frames with default axis = 1 -->  wide-format
df_concat_nodefault = pd.concat(frames, axis = 1)
df_concat_nodefault

## B. Joining Data

df.join()

## C. Merging Data

# New dictionary converted in df
data3 = {'customer_id':['6732', '767', '890', '635'],
    'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
    'days_purchased_on':[0, 10, 4, 1]}

df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])

# Merge using customer_id as key
df_merged_1 = df.merge(df_2, on = 'customer_id')
df_merged_1

# Merge using "customer_id" and "month" as key
df_merged_2 = df.merge(df_2, on = ['customer_id', 'month'])
df_merged_2

# Checking matches (indicator = True) and counting frequency
df_merged_2 = df.merge(df_2, on = ['customer_id', 'month'], indicator = True)
df_merged_2
df_merged_2['_merge'].value_counts()

# Test merge without overwriting
pd.merge(df,df_2, on = ['customer_id', 'month'], indicator = True)

# Merge Left
df_merged_3 = df.merge(df_2, on = ['customer_id', 'month'], how = 'left')

# Merge Right
df_merged_right = df.merge(df_2, on = ['customer_id', 'month'], how = 'right')

# Merge Outer
df_merged_outer = df.merge(df_2, on = ['customer_id', 'month'], how = 'outer')

## Merging Your Instacart Data

In [3]:
# Import orders_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
# Merge orders_products_prior and df_ords. Full Match = Inner
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,quantity,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

df_merged_large['_merge'].value_counts()

# Checking the REAL frequency of _merge column
df_merged_large_real = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')
df_merged_large_real['_merge'].value_counts()

## Export: csv VS pkl

Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [5]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))